doctype html
html
  head
    title Be Our Guest!
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
  body
    .container
      .row
        .col-sm-6.col-sm-offset-3.well
          form.form-horizontal(name="createguet",method="post",action="/", role="form")
            fieldset
              legend Contact Info
              .form-group
                label.col-sm-4.control-label(for="textinput") First Name
                .col-sm-8
                  input.form-control(id="first-name" name="firstName" type="text")
              .form-group
                label.col-sm-4.control-label(for="textinput") Last Name
                .col-sm-8
                  input.form-control(id="last-name" name="lastName" type="text")
              .form-group
                label.col-sm-4.control-label(for="textinput") Zip Code
                .col-sm-6
                  input.form-control(id="zipcode" name="zipcode" type="text")
              button.btn.pull-right.btn-primary#btnSubmit(type="submit") submit

